* {
    margin-top: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 11.66vw 100px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;



}

.menu-title {
    color: #131313;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 700;

}

.menu-container {
    display: flex;
    padding-bottom: 22px;
}


nav li a {
    text-decoration: none;
    color: #424242;
}



nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 862px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.banner-section p {
    margin-top: 0px;
    margin-bottom: 32px;
    color: #727272;
    text-align: center;
}

.pry-button {
    width: 180px;
    height: 64px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    font-size: 1.25rem;
}

.pry-button:hover {
    background: white;
    border: 2px solid #FF900E;
    color: #FF900E;
}

.banner-image {
    padding: 50px;
    order
}

.banner-section img {
    width: 100%;

}

/* responsive style */

/* small device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    nav{
        flex-direction: column;
        
    }
    .menu-container{
        flex-direction: column;  
        gap: 10px;     
    }
   
}

@media screen and (min-width:576px) and (max-width: 960px){
    header{
        padding: 35px;
    }
    nav{
        flex-direction: column;
    }
}