* {
    margin-top: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
}

/* start of header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 11.66vw 00px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;



}

.menu-title {
    color: #131313;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 700;

}

.menu-container {
    display: flex;
    padding-bottom: 22px;
}


nav li a {
    text-decoration: none;
    color: #424242;
}



nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.banner-content {
    max-width: 862px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.banner-section p {
    margin-top: 0px;
    margin-bottom: 32px;
    color: #727272;
    text-align: center;
}

.pry-button {
    width: 180px;
    height: 64px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: white;
    font-size: 1.25rem;
}

.pry-button:hover {
    background: white;
    border: 2px solid #FF900E;
    color: #FF900E;
}

.banner-image {
    padding: 50px;
    order
}

.banner-section img {
    width: 100%;

}

/* end of header section */
/* start of main section */

.feature-section {
    display: flex;
    align-items: center;
    gap: 3.958vw;
    padding: 85px 12.500vw;
}

.feature-image-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.feature-text-section {}

.feature-title {
    max-width: 468px;
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 0px;
}

#quick {
    color: #727272;
}

#our {
    color: #131313;
}

#feature {
    color: #FF900E;
}

.feature-details {
    margin-top: 24px;
    max-width: 537px;
    color: #727272;
    margin-bottom: 32px;
}

/* end of feature section */

/* start of love section */

.love-section {
    margin: 50px 11.66vw 100px;
    display: flex;
    gap: 50px;
    position: relative;
}

.love-text-section {}

.love-title {
    max-width: 468px;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 4px solid #FF900E;
    padding-left: 15px;

}

.love-details {
    max-width: 586px;
    color: #727272;
    margin-bottom: 0px;
}

.love-tittle-container {
    max-width: 500px;
    margin-bottom: 18px;
}

.love-description-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.love-description {
    max-width: 450px;
    max-width: 586px;
    color: #727272;

}

.love-experience {
    max-width: 242px;
    height: 140px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    position: absolute;
    bottom: -50px;
    left: 580px;
}

.years {
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.experience {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
}

.love-imagee-section {}

.love-image {
    max-width: 500px;
    /* max-height: 982px; */
}




/* end of love section */

/* start of facts section */

.facts-section {
    margin: 0px 11.66vw;

}

.facts-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.fact-details {
    margin-top: 24px;
    max-width: 542px;
    color: #727272;
}

.card-section {
    display: flex;
    justify-content: space-around;
}

.card-container {
    margin: 100px 2.941vw 50px;
}

.card-container {
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
    padding: 45px 35px 58px;
}

.card-image {
    width: 40px;
    height: 40px;
}

.card-states {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.card-details {
    margin-top: 0px;
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* End of facts section */
/* start of sponsor section */

.sponsor-section {
    margin: 170px 15vw;
}

.sponsor-text-section {
    text-align: center;   

}

.sponsor-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;

}

.sponsor-description {
    margin: 0px auto;
    color: #727272;
}

.sponsor-image-container {
    margin-top: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5vw;
}

.sponsor-image {
    width: 11.375vw;
    height: 50px;

}

/* end of sponsor section */
/* end of main section */









/* responsive style */

/* small device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;

    }

    main {
        padding: 0px 10px;
    }

    .menu-container {
        flex-direction: column;
        gap: 10px;
    }

    .feature-section {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .feature-image-sections {
        grid-template-columns: 1fr;
    }

    .feature-title {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .feature-text-section {
        width: 80vw;
    }

    .card-section {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .card-container {
        margin: 0px 10px;
    }

    .love-section {
        flex-direction: column;
        margin: 20px 20px 30px;
    }

    .love-title {
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .love-details {
        margin-bottom: 10px;
    }

    .love-image {
        width: 100%;
    }

    .love-experience {
        max-width: 212px;
        height: 110px;
        bottom: 0px;
        left: 0px;
    }

    .love-tittle-container {
        margin-top: 30px;
    }

    .sponsor-section{
        padding: 30px 0px;
    }
    .sponsor-image-container{
        padding-top: 140px;
        flex-direction: column;
        gap: 30 px;
    }

    .sponsor-image{
        
        width: 70%;
    }
   
   
}


/* medium device */
@media screen and (min-width:576px) and (max-width: 960px) {

    /* body{
        width: 912px;
    } */
    header {
        padding: 35px;
    }

    nav {
        flex-direction: column;
    }

    .feature-section {
        flex-direction: column-reverse;
        padding: 10px 20px;
    }

    .feature-image-sections {
        /* grid-template-columns: 1fr; */
    }

    .feature-title {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .feature-text-section {
        width: 80vw;
    }

    .love-section {
        flex-direction: column;
    }

    .love-imagee-section {
        display: flex;
        justify-content: center;

    }

    .love-image {
        width: 100%;
        padding-left: 40px;
    }

    .love-experience {
        left: 0px;
    }

    .love-title {
        font-size: 2.8rem;
    }
    .sponsor-image-container{
        gap: 40px;
    }
    .sponsor-image{
        width: 11.5vw;
    }
    
}